.wrapper {
  background-color: #f2f4f7;
  /*background-color: #FEFEFE;*/
  min-height: 100vh;
}
.card {
  border-radius: 10px;
  overflow: hidden;
  padding: 8px;
  margin: 5px;
}

.card-img-top {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.cardBody {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 24px 0;
}

.card-name {
  font-size: 1.2em;
  color: #333;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
}
.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchInput {
  padding: 8px;
  background-color: #ffffff;
  border: none;
  outline: none;
  border-radius: 20px;
  margin-right: 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  width: 400px;
}
.searchBtn {
  height: 36px;
  display: flex;
  padding: 0 24px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: #ebf5ff;
  border: none;
  font-weight: 500;
  border: 1px solid #ccc;
}

/*tiêu đề*/
.customTitle {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Font tương tự Facebook */
  font-size: 35px; /* Kích thước chữ lớn */
  font-weight: 600; /* Độ đậm chữ vừa phải */
  color: #1877f2; /* Màu xanh giống màu Facebook */
  text-align: center; /* Căn giữa */
  margin-bottom: 20px; /* Khoảng cách dưới */
  margin-top: 20px; /* Khoảng cách trên để chữ xuống một chút */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Hiệu ứng bóng chữ */
  letter-spacing: 1px;
}

.requestItem {
  border-radius: 16px;
  width: 240px;
  margin: 8px;
  background: white;
}

.topContent {
  height: 180px;
}
.listFriendContainer {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 24px 0;
}

@media (min-width: 1024px) {
}

@media (min-width: 740px) and (max-width: 1023px) {
  .cardBody {
    justify-content: center;
  }
}

@media (max-width: 740px) {
  .cardBody {
    justify-content: center;
  }
}

.mutualFriends {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin: 12px 0;
}

.mutualFriendAvatar {
  width: 25px;
  height: 25px;
  object-fit: cover;  /* Đảm bảo ảnh không bị méo */
}

